.c7n-wiki-dashboard-under-organization-space {
  .text-overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .flex-shrink {
    flex-shrink: 0;
  }

  .loading-wrap {
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lists {
    padding-left: 16px;
    padding-right: 28px;
    padding-top: 2px;
    padding-bottom: 12px;

    .list {
      display: flex;
      flex: 1;
      margin-bottom: 18px;
      // cursor: pointer;

      .spaceSummary-wrap {
        overflow: hidden; 
        flex: 1;

        .spaceSummary {
          padding-right: 25px;
          padding-left: 5px;
          margin-bottom: 0;
          max-width: unset;
        }
      }
      
    }
  }
}
