.c7n-wiki {
  background: #fff;
}

.c7n-wiki-status {
  display: inline-block;
  height: 16px;
  font-size: 13px;
  border-radius: 2px;
  color: white;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;

  div {
    transform: scale(0.8);
  }
}

.c7n-wiki-status-success {
  background: #1bc123;
}

.c7n-wiki-status-failed {
  background: #f44336;
}

.c7n-wiki-status-deleted {
  background: #f44336;
}

.c7n-wiki-status-operating {
  background: #4d90fe;
}